<!-- <div>
  <span>Sort by: </span>
  <button mat-button (click)="buttonSortBy('title')">Title</button>
  <button mat-button (click)="buttonSortBy('completed')">Completed</button>
  <button mat-button (click)="buttonSortBy('due-date')">Due Date</button>
</div> -->
<mat-grid-list cols="3" gutterSize="1rem" rowHeight="10rem">
  <mat-grid-tile>
    <button mat-icon-button (click)="buttonShowAddToDoItem()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let toDoItem of toDoList">
    <app-to-do-item
      [toDoItem]="toDoItem"
      (toDoItemEvent)="liToDoItem(toDoItem)"
    ></app-to-do-item>
  </mat-grid-tile>
</mat-grid-list>
