<button (click)="buttonShowAddToDoItem()">Add ToDo</button>

<ng-container *ngIf="showAddToDoItemState">
  <app-add-to-do-item
    (addToDoItemEvent)="handleAddToDoItemEvent($event)"
  ></app-add-to-do-item>
</ng-container>

<div>
  <span>Sort by: </span>
  <button (click)="buttonSortBy('title')">Title</button>
  <button (click)="buttonSortBy('completed')">Completed</button>
  <button (click)="buttonSortBy('due-date')">Due Date</button>
</div>

<ul>
  <li *ngFor="let toDoItem of toDoList">
    <!-- <li *ngFor="let toDoItem of toDoList | async"> -->
    <app-to-do-item
      [toDoItem]="toDoItem"
      (toDoItemEvent)="liToDoItem(toDoItem)"
    ></app-to-do-item>
  </li>
</ul>

<ng-container *ngIf="selectedToDoItem">
  <app-to-do-item-detail
    [toDoItem]="selectedToDoItem"
    (toDoItemDetailEvent)="handleToDoItemDetailEvent()"
  ></app-to-do-item-detail>
</ng-container>
