<div>
  <div>
    <span>ID: </span>
    {{ toDoItem.id }}
  </div>
  <div>
    <span>Title: </span>
    <input type="text" [(ngModel)]="toDoItem.title" />
  </div>
  <div>
    <span>Created At: </span>
    {{ toDoItem.createdAt | date: "medium" }}
  </div>
  <div>
    <span>Due Date: </span>
    <input
      type="datetime-local"
      [ngModel]="toDoItem.dueDate | date: 'yyyy-MM-ddTHH:mm'"
      (ngModelChange)="toDoItem.dueDate = $event"
    />
  </div>
  <div>
    <div>Description:</div>
    <textarea [(ngModel)]="toDoItem.description" cols="30" rows="10"></textarea>
  </div>
  <div>
    <button (click)="toggleCompleted()">
      <div *ngIf="toDoItem.completed; else elseBlock">Mark as Uncomplete</div>
      <ng-template #elseBlock>Mark as Completed</ng-template>
    </button>
  </div>
</div>
<button (click)="emitEvent()">Close detail</button>
